{% assign papers = site.data.papers %}
{% if include.author %}
{% assign papers = papers | where_exp: "paper","paper.bib.author_ids contains include.author" %}
{% endif %}
{% if include.category %}
{% assign papers = papers | where_exp: "paper","paper.category contains include.category" %}
{% endif %}

<ul class="paper-list">
{% for paper in papers %}
  {% assign curr_year = paper.bib.date %}
        {% unless curr_year == old_year %}
            <h3> {{curr_year}} </h3>
            {% assign old_year = curr_year %}
        {% endunless %}
   <li class='paper'>
   <a class='paper-title' href="{{site.baseurl}}{{ paper.url }}"> {{paper.title}} </a>
   <div class='paper-authors'> {{ paper.bib.author_links | join: " and " }}. </div>
   {% if paper.bib.booktitle_acronym %}
   <div class='paper-where'> <strong> {{ paper.bib.booktitle_acronym }} </strong> {{ paper.bib.publisher }}, pp {{ paper.bib.pages }}. </div>
   {% endif %}
   <div class='paper-year'> {{ paper.bib.date }}</div>
   <a href="{{site.baseurl}}{{paper.pdf_url}}"> PDF </a>
   <a href="{{site.baseurl}}{{paper.bib_url}}"> BIB </a>
</li>
{% endfor %}
</ul>

