{%- assign papers = site.pages | where_exp: "paper","paper.layout == 'paper'" | sort: "bib.date" | reverse -%}

{%- if include.author -%}
{%- assign papers = papers | where_exp: "paper","paper.bib.author_ids contains include.author" -%}
{%- endif -%}

{%- if include.category -%}
{%- assign papers = papers | where_exp: "paper","paper.bib.category contains include.category" -%}
{%- endif -%}

{% for paper in papers %}
{%- assign curr_year = paper.bib.date | date: "%Y" -%}
{%- unless curr_year == old_year -%}
{%- if forloop.first == false -%}
</ul>
{%- endif -%}
<h3 class='paper-year-section'> {{curr_year}} </h3>
<ul class="paper-list">
{%- assign old_year = curr_year -%}
{%- endunless -%}

  <li class='paper'>
    <a class='paper-title' href="{{site.baseurl}}/{{ paper.url }}"> {{paper.bib.title}} </a>
    <div class='paper-authors'>
      {%- include author_list.html authors=paper.bib.authors -%}
    </div>
    <div class='paper-where'>
       <strong> {%- if paper.bib.type == 'techreport' -%} Technical Report               {%- endif -%}
                {%- if paper.bib.type == 'phdthesis' -%}  PhD Thesis                     {%- endif -%}
                {%- if paper.bib.booktitle_acronym -%} {{ paper.bib.booktitle_acronym }} {%  endif  %}
                {%- if paper.bib.journal_acronym -%}   {{ paper.bib.journal_acronym }}   {%  endif  %}
       </strong>
       {%  if paper.bib.publisher  %}                  {{ paper.bib.publisher }},                  {%- endif -%}
       {%  if paper.bib.volume  %}              Volume {{ paper.bib.volume }},                     {%- endif -%}
       {%  if paper.bib.pages  %}                   pp {{ paper.bib.pages }},                      {%- endif -%}
       {%  if paper.bib.month  %}                      {{ paper.bib.month }}                       {%- endif -%}
       {%  if paper.bib.year  %}                       {{ paper.bib.year }}                        {%- endif -%}
       {%  if paper.bib.number and paper.bib.type == 'techreport' %} <a href='{{ paper.bib.number }}'> {{ paper.bib.number }} </a>    {%- endif -%}
    </div>
    <a href="{{site.baseurl}}/{{paper.pdf_url}}"> PDF </a>
    <a href="{{site.baseurl}}/{{paper.bib_url}}"> BIB </a>
    {% if paper.bib.journal_url  %}   <a href="{{paper.bib.journal_url}}">   {{paper.bib.journal_acronym}}   </a> {% endif %}
    {% if paper.bib.booktitle_url  %} <a href="{{paper.bib.booktitle_url}}"> {{paper.bib.booktitle_acronym}} </a> {% endif %}
    {% if paper.bib.project_url %}    <a href="{{paper.bib.project_url}}"  > {{paper.bib.project_name}}      </a> {% endif %}
    {% if paper.bib.url  %}           <a href="{{paper.bib.url}}">           DOI                             </a> {% endif %}
  </li>
{% endfor %}
</ul>

